.header{
    background-color: #2E6F95;
}

.name{
    font-size: 1.5rem;
}

.ulitems li a{
    font-size: 1.3rem;
}

.container button{
    border: 0px;
}

.first-section{
    background-color: #2E6F95;
}

.first-section-container{
    margin-right: 30px;
}

.first-section-text{
    text-align: justify;
}

.second-section{
    background-color: #455E89;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}
